.card-container {
    min-width: 210px;
    width: 210px;
    height: fit-content;
    min-height: 210px;

    box-shadow: 0px 10px 13px -4px rgba(35, 35, 95, 0.19);
    border-radius: 18px;
}

.card-title {

}

.card-img {
    width: 144px;
    height: 144px;
}

.card-img-bgc-container {
    border-radius: 18px 18px 0 0;
    width: 100%;
    min-height: 162px;


}