.sidebar__container {
    width: 264px;
    height: fit-content;
    border: 1px solid rgba(207, 207, 228, 1);
    padding: 12px;
    gap: 0px;
    border-radius: 18px;
    margin-right: 24px
}

.sidebar__list {


}

.sidebar_list_element {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;





min-width: 240px;
height: fit-content;
padding: 12px;
gap: 0px;
border-radius: 12px;
opacity: 0px;
cursor: pointer;

    &.active {
        background-color: rgba(95, 191, 119, 1);
        color: rgba(255, 255, 255, 1);
    }
}



@media (max-width: 663px) {
    .sidebar__container {
        width: 100%;
        margin-right: 0;
    }
}
