// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofA-sekZuHJe_0qD-7h.ttf') format('truetype');
  }

  